<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Post</title>
  </head>
  <body>
    <h1><%= post.title %></h1>
    <div>Price: <%= post.price %></div>
    <div><%= post.description %></div>
    <div><%= post.location %></div>
    <div>
      <% post.images.forEach(image => { %>
      <img src="<%= image.url %>" alt="surf board image" width="200px" /> <br />
      <% }) %>
    </div>
    <div>
      <a href="/posts/<%= post.id %>/edit"><button>Edit</button></a>
    </div>
    <div>
      <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete" />
      </form>
    </div>
  </body>
</html>
